<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="container">
        <div class="title">
            <h2>Relatório de gêneros</h2>
        </div>

        <table>
            <tbody id="tabela">
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </tbody>
        </table>

    </div>
</body>

<script>
    "use strict";
    const { dialog } = require('electron').remote;
    var ControlGenero = require('../control/ControlGenero');

    var controlGenero = new ControlGenero();

    preencher();

    function preencher() {
        var generos = controlGenero.listar();

        document.getElementById("tabela").innerHTML = "<tr><th>Nome</th><th>Ações</th></tr>";

        generos.forEach(g => {
            document.getElementById("tabela").innerHTML += '<tr><td>' + g.nome + '</td> <td><button id="' + g.pkGenero + '" onclick="excluir(this.id)">Excluir</button></td></tr>';
        });
    }

    function excluir(pkGenero) {
        var confirmacao = dialog.showMessageBox({ buttons: ["Não", "Sim"], message: "Você realmente deseja excluir isso?" });
        if (confirmacao) {
            controlGenero.excluir(pkGenero);
            preencher();
        }
    }
</script>